@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --tempC: "℃";
  --tempF: "℉";
}

#mainDiv {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f8;
}

#leftSideDiv {
  background-color: white;
  padding: 20px;
  height: 100vh;
  position: relative;
}

#rightSideDiv {
  background-color: #f6f6f8;
  padding: 20px;
}

#sBar {
  z-index: 1;
  border-radius: 5px 0px 0px 5px;
  border-left: 1.6px solid #ced6e0;
  border-top: 1.6px solid #ced6e0;
  border-bottom: 1.6px solid #ced6e0;
}

#sBar:focus {
  border-color: #4050d2;
  box-shadow: none;
}

#searchGroup {
  display: flex;
  width: 100%;
}

#switchLeft {
  position: fixed;
  left: 1%;
  top: 90vh;
  width: 60px;
}

#switchLeft .switch {
  display: inline-block;
  width: 100%;
}

#switchLeft .switch span {
  position: relative;
  width: 100%;
  height: 35px;
  float: left;
}

#switchLeft .switch span input {
  display: none;
}

#switchLeft .switch span input:checked+.slider {
  background-color: rgba(64, 80, 210, 0.8);
  border: 1.5px solid #000000;
}

#switchLeft .switch span input:checked+.slider:before {
  transform: translateX(26px);
}

#switchLeft .switch span input:focus+.slider {
  box-shadow: 0 0 1px rgba(64, 80, 210, 0.8);
}

#switchLeft .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  outline: none;
  background-color: rgba(205, 205, 205, 0.4);
  border: 1.5px solid #4c5ee4;
  transition: 0.4s;
  border-radius: 34px;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "℃";
  height: 28px;
  width: 29px;
  left: 3%;
  bottom: 4px;
  background-color: rgba(64, 80, 210, 0.8);
  color: white;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch span input:checked+.slider-f {
  background-color: rgba(64, 80, 210, 0.8);
}

.switch span input:checked+.slider-f:before {
  transform: translateX(26px);
}

.switch span input:focus+.slider-f {
  box-shadow: 0 0 1px rgba(64, 80, 210, 0.8);
}

.slider-f {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  outline: none;
  background-color: rgba(204, 204, 204, 0.4);
  border: 1px solid rgb(184, 184, 184);
  transition: 0.4s;
  border-radius: 34px;
  cursor: pointer;
}

.slider-f::before {
  position: absolute;
  content: var(--tempF);
  height: 28px;
  width: 29px;
  left: 3%;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar {
  width: 85%;
  margin: auto;
}

/* Change Here */

.form-control {
  padding-left: 35px;
}

/* Change Here */

#groupSearch {
  width: 95%;
  position: relative;
  z-index: 1;
}

/* Change Here */

#sBar::placeholder {
  font-size: 12px;
}

#searchIcon {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}

#searchIcon i {
  color: #7d7d7d;
}

#imageSec {
  margin-top: 15%;
  width: 80%;
}

#imageSec img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  user-select: none;
  pointer-events: none;
}

/* #imageSec div {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
  user-select: none;
  pointer-events: none;
} */

#Temp {
  width: 80%;
  margin-top: 15px;
}

#Temp h1 {
  text-align: center;
}

#feel {
  font-size: 14px;
  font-weight: 300;
}

#Temp p {
  width: 75%;
  text-align: center;
  font-weight: 500;
}

#littleInfo {
  width: 100%;
}

#insideLittleInfo {
  width: 60%;
  margin: auto;
}

.iconSpace {
  margin-left: 3%;
}

#locationCard {
  width: 70%;
  height: 95px;
  margin: 5% 0% 0% 18%;
  position: relative;
}

#locationCard img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  opacity: 0.7;
  pointer-events: none;
  user-select: none;
}

#locationCard p {
  position: absolute;
  z-index: 2;
  font-size: 30px;
  font-weight: 500;
  top: 27%;
  left: 27%;
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#navLeft .nav-pills>li>button {
  color: rgb(139, 139, 139);
  background-color: transparent;
  border-bottom: 2px solid #f6f6f8;
  border-radius: 0px;
  margin-left: 20px;
  padding: 5px;
  font-weight: 500;
}

#navLeft .nav-pills>li>button.active {
  color: black;
  border-bottom: 2px solid black;
}

#navRight {
  margin-right: 15%;
}

#navRight>button {
  width: 46px;
  padding: 10px 2px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: black;
}

#navRight .tempActive {
  background-color: black;
  color: white;
}

#navRight>button:active {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

#pills-today {
  padding: 30px;
}

#infoCard {
  width: 100%;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
}

#cardSec {
  margin-top: 50px;
}

#infoCard .cardContainer .card {
  width: 33%;
  height: 250px;
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* background-color: white; */
  background-image: url('../assets/liquid-cheese.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#infoCard .cardContainer .cardTitles {
  margin-left: 5%;
  margin-top: 5%;
  /* color: #606060; */
  color: #343434;
  font-size: 15px;
  letter-spacing: 0.5px;
  /* font-weight: 400px; */
  font-weight: 500;
}

#infoCard .cardContainer .cardIcons {
  margin-left: 5%;
  display: flex;
  align-items: flex-end;
}

#infoCard .cardContainer .cardIcons p {
  margin-bottom: 8px;
}

#infoCard .cardContainer .cardIcons .card-images {
  width: 50px;
  user-select: none;
  pointer-events: none;
}

#infoCard .cardContainer .cardIcons span {
  font-size: 12px;
  font-weight: 400px;
}

#rainResult h1 {
  text-align: center;
  font-size: 40px;
  width: 45%;
}

#windResult h1 {
  text-align: center;
  font-size: 40px;
  width: 90%;
}

#timeResult {
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 5%;
}

#timeFirst {
  display: flex;
  margin-bottom: 3%;
  align-items: flex-end;
}

#timeFirst .card-images {
  width: 50px;
  user-select: none;
  pointer-events: none;
}

#timeSec {
  display: flex;
  align-items: flex-end;
}

#timeSec .card-images {
  width: 50px;
  user-select: none;
  pointer-events: none;
}

#timeSec>span {
  margin-right: 10%;
}

#timeFirst>span {
  margin-right: 10%;
}

#timeFirst>span>i {
  font-size: 25px;
  color: #ffbf00;
}

#timeSec>span>i {
  font-size: 25px;
  color: #ffbf00;
}

#visResult h1 {
  width: 70%;
  font-size: 40px;
  text-align: center;
}

#visMsg p {
  margin-left: 8%;
}

#leftSideDive #credit {
  background-color: crimson;
}

#groupSearch {
  display: flex;
}

#groupSearch .searchBtn {
  border: none;
  padding: 4px 15px;
  font-size: 13px;
  background-color: #4050d2;
  color: white;
  border-radius: 0px 5px 5px 0px;
  transition: ease all 0.2s;
}

#groupSearch .searchBtn:hover {
  background-color: #3240a8;
}

#groupSearch .searchBtn:active {
  transform: scale(0.97);
}

#groupSearch .accessLocationBtn {
  margin-left: 10px;
  border: 1px solid #b6beff;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: rgb(247, 246, 246);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

#groupSearch .accessLocationBtn:active {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

#nextSection {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

#nextSection .not-found-img {
  width: 50%;
  display: block;
  margin: auto;
  pointer-events: none;
  user-select: none;
}

#nextSection .nextCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 100px;
  border-radius: 3px;
  padding: 25px 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  margin-left: 3%;
  margin-top: 10px;
}

#nextSection .card-line {
  width: 1px;
  background-color: rgb(118, 118, 118);
  height: 60px;
}

#nextSection .card-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#nextSection .card-left-side .card-day {
  font-size: 18px;
}

#nextSection .card-left-side .card-date {
  font-size: 12px;
  color: gray;
  margin-top: -10%;
}

#nextSection .card-left-side .card-details {
  font-size: 12px;
  margin-top: -2%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#nextSection .card-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nextSection .card-right-side .card-right-default-img {
  width: 35px;
  height: 35px;
}

#nextSection .card-right-side img {
  width: 30px;
  height: 30px;
}

#nextSection .card-right-side p {
  font-size: 20px;
}

#nextSection .card-right-side .card-right-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nextSection .card-right-side .card-right-temp>p {
  display: flex;
  align-items: baseline;
  margin: 0;
}

#nextSection .card-right-side .card-right-temp>p>span {
  font-size: 10px;
}

#graph-day-content {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

#graph-title {
  font-size: 14px;
  text-align: center;
  margin-top: 2%;
  color: #3240a8;
  font-weight: 500;
}

/* responsive design */

@media only screen and (max-width: 1455px) {
  .slider-f::before {
    left: 1%;
  }
}

@media only screen and (max-width: 1450px) {
  #windResult h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
  }

  #visResult h1 {
    width: 70%;
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 1400px) {
  #insideLittleInfo {
    width: 52%;
    margin: auto;
  }
}

@media only screen and (max-width: 1390px) {
  .slider-f::before {
    left: 2%;
  }
}

@media only screen and (max-width: 1350px) {
  #infoCard .cardContainer .card {
    width: 38%;
  }

  #windResult h1 {
    text-align: center;
    font-size: 40px;
    width: 90%;
  }

  #visResult h1 {
    width: 60%;
    font-size: 40px;
    text-align: center;
  }

  #locationCard {
    width: 50%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    font-weight: 500;
    top: 25%;
    left: 25%;
    color: white;
  }
}

@media only screen and (max-width: 1329px) {
  #insideLittleInfo {
    width: 55%;
    margin: auto;
  }
}

@media only screen and (max-width: 1322px) {
  #windResult h1 {
    text-align: center;
    font-size: 40px;
    width: 95%;
  }

  #visResult h1 {
    width: 70%;
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 1225px) {
  #insideLittleInfo {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 1190px) {
  #nextSection .nextCard {
    width: 55%;
  }
}

@media only screen and (max-width: 1185px) {
  #infoCard .cardContainer .card {
    width: 45%;
  }

  #locationCard {
    width: 55%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    font-weight: 500;
    top: 25%;
    left: 25%;
    color: white;
  }
}

@media only screen and (max-width: 1130px) {
  #insideLittleInfo {
    width: 65%;
    margin: auto;
  }

  #locationCard {
    width: 55%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    font-weight: 500;
    top: 25%;
    left: 25%;
    color: white;
  }

  .slider-f::before {
    left: 0.9%;
  }
}


@media only screen and (max-width: 1105px) {
  #locationCard {
    width: 65%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    top: 23%;
    left: 23%;
    color: white;
  }

  #visResult h1 {
    width: 70%;
    font-size: 40px;
    text-align: center;
  }
}


@media only screen and (max-width: 1065px) {
  #nextSection .nextCard {
    width: 60%;
  }
}


@media only screen and (max-width: 990px) {
  #rightSideDiv {
    background-color: #f6f6f8;
    padding: 0px;
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
  }

  #infoCard .cardContainer .card {
    width: 48%;
  }

  #locationCard {
    width: 60%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 27px;
    font-weight: 500;
    top: 23%;
    left: 23%;
    color: white;
  }
}


@media only screen and (max-width: 849px) {
  #nextSection .nextCard {
    width: 70%;
  }
}

@media only screen and (max-width: 846px) {
  .slider-f::before {
    left: 1%;
  }
}

@media only screen and (max-width: 787px) {
  #locationCard {
    width: 90%;
    height: 80px;
    margin: 5% 0% 0% 10%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    top: 23%;
    left: 23%;
    color: white;
  }
}

@media only screen and (max-width: 576px) {
  /* #mainDiv {
    height: 100vh;
  } */

  #nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10%;
  }

  /* #leftSideDiv {
    height: 100vh;
  } */

  #Temp p {
    width: 90%;
    text-align: center;
    font-weight: 500;
  }

  #insideLittleInfo {
    width: 40%;
    margin: auto;
  }

  #locationCard {
    width: 60%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position: relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    top: 23%;
    left: 38%;
    color: white;
  }

  #rainResult h1 {
    text-align: center;
    font-size: 40px;
    width: 60%;
  }
}

@media only screen and (max-width: 451px) {
  #insideLittleInfo {
    width: 48%;
    margin: auto;
  }

  #rainResult h1 {
    text-align: center;
    font-size: 40px;
    width: 80%;
  }
}

@media only screen and (max-width: 440px) {
  #switchLeft {
    width: 16%;
  }

  #searchBar {
    width: 60%;
  }
}

@media only screen and (max-width: 430px) {
  #nextSection .nextCard {
    width: 80%;
  }
}

@media only screen and (max-width: 423px) {
  #littleInfo {
    width: 90%;
  }

  #insideLittleInfo {
    width: 55%;
    margin: auto;
  }

}

@media only screen and (max-width: 410px) {
  #rainResult h1 {
    text-align: center;
    font-size: 35px;
    width: 80%;
  }

  #infoCard .cardContainer .cardTitles {
    font-size: 13px;
  }

  #windResult h1 {
    text-align: center;
    font-size: 35px;
    width: 95%;
  }

  #visResult h1 {
    width: 70%;
    font-size: 35px;
  }

  #timeResult {
    padding: 0px;
  }

  #timeFirst>h5 {
    font-size: 18px;
  }

  #timeSec>h5 {
    font-size: 18px;
  }

  #switchLeft {
    left: calc(100% - 62px);
    top: 80vh;
    width: 60px;
  }
}

@media only screen and (max-width: 400px) {
  #nextSection .nextCard {
    width: 90%;
    height: 130px;
  }

  #littleInfo {
    width: 90%;
  }

  #insideLittleInfo {
    width: 60%;
    margin: auto;
  }

  #locationCard {
    width: 65%;
    height: 80px;
    margin: 5% 0% 0% 18%;
    position:
      relative;
  }

  #locationCard p {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    top: 25%;
    left: 35%;
    color: white;
  }

  #rainResult h1 {
    text-align: center;
    font-size: 35px;
    width: 80%;
  }

  #searchBar {
    width: 95%;
    margin: auto;
  }

  /* #searchBar {
    width: 100%;
  } */

  #leftSideDiv {
    height: auto;
  }

  #infoCard .cardContainer .card {
    width: 70%;
    height: 240px;
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* margin: 0px auto 0px auto; */
  }

  #firstCard {
    margin: 0px auto 0px auto;
  }

  #secondCard {
    margin: 50px auto 0px auto;
  }

  #thirdCard {
    margin: 0px auto 0px auto;
  }

  #fourthCard {
    margin: 50px auto 0px auto;
  }

  #infoCard .cardContainer .cardTitles {
    font-size: 13px;
  }

  #infoCard .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #windResult h1 {
    text-align: center;
    font-size: 35px;
    width: 95%;
  }

  #visResult h1 {
    width: 70%;
    font-size: 35px;
  }

  #timeResult {
    padding: 0px;
  }

  #timeFirst>h5 {
    font-size: 18px;
  }

  #timeSec>h5 {
    font-size: 18px;
  }
}


@media only screen and (max-width: 375px) {
  .slider-f::before {
    left: 2%;
  }
}

@media only screen and (max-width: 375px) {
  #littleInfo {
    width: 90%;
  }

  #insideLittleInfo {
    width: 61%;
  }
}

@media only screen and (max-width: 358px) {
  #visResult h1 {
    width: 80%;
    font-size: 35px;
  }
}

@media only screen and (max-width: 346px) {
  #insideLittleInfo {
    width: 63%;
  }
}